* {
    margin: 0;
    padding: 0;
}

h1{
    padding-bottom: 10px;
}
p{
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 0, 128);
}

body{
    width: 100%;
    text-align: center;
    font-family: monospace;
    margin-top: 50px;
    color: white;
    user-select: none;
}

.main{
    width: 500px;
    background-color: rgb(14, 14, 14);
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    min-height: 200px;
    
}
.input-tarefa{
    width: 65%;
    height: 38px;
    font-family: monospace;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.botao{
    font-size: 16px;
    font-family: monospace;
    width: 25%;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(138, 22, 246);
    color: rgb(255, 255, 255);
    border: none;
}
h4{
    color: rgb(149, 149, 149);
    text-align: left;
    padding-left: 15px;

}
.tarefas{
    width: 90%;
    margin: auto;
    padding: 5px;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(221, 209, 255);
   
}

.botao:hover {
    background-color: rgb(148, 82, 239);
}
.botao:active {
    background-color: rgb(220, 91, 246);
    color: rgb(28, 2, 49);
}